<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Voucher</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Form Edit Voucher
              </h3>
            </div>
            <!-- /.card-header -->
            <form action="/voucher/edit/<%= voucher._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Nama Game</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Masukkan nama game" value="<%= voucher.name %>" required>
                </div>
                <div class="form-group">
                  <label for="category">Kategori</label>
                  <select class="form-control select2 w-100" name="category" id="category" required>
                    <option value="">Pilih Kategori</option>
                    <% category.forEach(category => { %>
                      <option value="<%= category._id %>"
                        <% if (category._id.toString() === voucher?.category._id.toString()) { %>
                          selected
                        <% } %>
                        ><%= category.name %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="nominals">Nominal</label>
                  <div class="select2-purple">
                    <select class="form-control select2 w-100" multiple="multiple" name="nominals" id="nominals" data-placeholder="Pilih Nominal" required>
                      <option value="">Pilih Nominal</option>
                      <% nominal.forEach(nominal => { %>
                        <option value="<%= nominal._id %>"
                          <% voucher.nominals.forEach(voucherNominal => { %>
                            <% if(nominal._id.toString() === voucherNominal._id.toString()) { %>
                              selected
                            <% } %>
                          <% }) %>
                        >
                          <%= nominal.coinName %> - <%= nominal.coinQuantity %>
                        </option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="image">Thumbnail</label>
                  <input type="file" name="image" class="form-control" id="image" placeholder="Masukkan gambar" accept="image/*">
                  <br>
                  <img src="/uploads/<%= voucher.thumbnail %>" id="preview" class="w-25">
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>

<script>
  function readUrl(input) {
    if (input.files && input.files[0]) {
      const render = new FileReader();

      render.onload = function (e) {
        $('#preview').attr('src', e.target.result)
      }

      render.readAsDataURL(input.files[0])
    }
  }

  $('#image').change(function () {
    readUrl(this)
  })
</script>
