<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Jumlah</th>
      <th>Harga</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < nominal.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= nominal[i].coinName %></td>
        <td><%= nominal[i].coinQuantity %></td>
        <td><%= nominal[i].price %></td>
        <td>
          <form action="/nominal/delete/<%= nominal[i]._id %>?_method=DELETE" method="POST">
            <a class="btn btn-sm btn-warning" href="/nominal/edit/<%= nominal[i]._id %>" data-toggle="tooltip" title="Edit">
              <i class="far fa-edit"></i>
            </a>
            <button class="btn btn-sm btn-danger" onclick="return confirm('Yakin akan menghapus data ?')" data-toggle="tooltip" title="Hapus">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
